body{
	font-family: 'PT Sans', sans-serif;
}
/* header start*/
header{
    background-color: #fcdb00;
    padding: 30px 0px;
}
.menu ul li a{
    font-weight: 700;
    font-size: 22px;
    color: #010101 !important;
     transition: .3s; 
    padding: 0px 35px !important;
}
.menu ul li:last-child{
    padding-right: 0 !important;
}
.menu ul li a:hover{
    color: white !important;
   
     
}
/*header end*/ 
/*slider start*/
.slider{
 background-color: #fcdb00;
 padding-bottom: 85px;
}
.carousel-indicators{
    bottom: -65px;
}
.carousel-indicators li {
   
   
    width: 15px;
    height: 15px;
     border-radius: 50%;
    
    
}
.slider_text{
       
    margin-top: 112px;

}
.slider_text h1{
    font-weight: 700;
    font-size: 29px; 
    color: #010101;
}
.slider_text h2{
    font-weight: 400;
    font-size: 32px; 
    color:#313841;
    margin: 20px 0;
}
.slider_text p{
    color: #555555;
    line-height: 22px;
    margin-bottom: 30px; 
}
.icon{
    font-size: 42px;
    color:  #010101;
}
.icon li{
    margin-right: 20px !important;
}
.icon li:hover{
    transform: scale(1.5);
    transition: .5s;
}

.slider_img{}
.slider_img img{}

/*slider end*/

/*Features satrt*/
.features{
    padding-top: 80px;
    padding-bottom: 100px;
}
.title{
    
}
.t_h1{
   font-weight: 700;
    font-size: 32px;
    color: #010101;
}
.t_p{
/*     font-weight: 400 ;*/
    font-size: 20px;
    color: #313841;
    letter-spacing: 1px;
    line-height: 26px;
}
.m_t_60{
    margin-top: 60px;
}
.f_icon{
   font-size: 50px;
    color: #010101;
}
.f_icon:hover{
    transform: scale(1.5);
    transition: .5s;
}
.f_text{
    margin-top: 11px;
}
.f_text h2{
     color: #010101;
    font-weight: 400;
    font-size: 22px;
}
.f_text p{
     color: #898989;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}
/*Featuters end*/

/*Contact start*/
.contact{
    background-color: #010101;
    padding-top: 80px;
    padding-bottom: 100px;
}
.yellow{
    color: #fcdb00;
}
.ash{
    color: #898989;
}

.contact_form{
margin-top: 30px;
    margin-bottom: 60px;
}
.contact_form input{
    width: 100%;
    height: 50px;
}
.contact_form button{
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    height: 50px;
    color: #010101;
    text-transform: uppercase;
    background-color: #fcdb00;
    
}
.contact_form button: hover{
    background-color: white;
}
.c_input{
    height: 50px;
    color: #010101;
}
.c_input::-webkit-input-placeholder { /* Edge */
  color:#898989;
}

.c_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #898989;
}

.c_input::placeholder {
  color: #898989;
}
.social{
    
}
.social ul li a{
    background-color:#fcdb00; 
    font-size: 35px;
    color: #010101;
    width: 50px;
    padding: 0 10px;
   margin-right: 20px;
    border-radius: 5px;
    
    
}
.social ul li :hover{
    
    transform: scale(1.5);
    transition: .5s;

}
/*cintact end*/

/*footer start*/
footer{
    background-color: #010101;
    padding-bottom: 100px;
}
.info{
    color: white;
}
.c_footer{
       
}
.c_footer a{
     display: block;
    text-decoration: none;
    color: white;
    
}
/*footer end*/
